$orange: rgb(248, 164, 120);
$light-gray: rgb(230, 230, 230);
$dark-gray: rgb(128, 128, 128);

$button-height: 3.5rem;

$base-font-size: 0.09rem;
$base-line-spacing: 0.1rem;
$base-letter-spacing: 0.1rem / 1000;

@mixin font($size, $kerning, $line-spacing) {
  font-size: $base-font-size * $size;
  letter-spacing: $base-letter-spacing * $size * $kerning;
  line-height: $base-line-spacing * $line-spacing;
}
