@import 'debug';

// --- colors
$orange: rgb(248, 164, 120);
$light-gray-value: 230;
@if $debug {
  $light-gray-value: 150;
}
$light-gray: rgb($light-gray-value, $light-gray-value, $light-gray-value);
$dark-gray: rgb(128, 128, 128);

// --- buttons
$button-size: 3.5rem;
$button-size-small: $button-size * (42/58);

// --- fonts
$base-font-size: 0.065rem;
$nav-font-size-correction: 1.795;
$base-line-spacing: 0.1rem * 0.7;
$base-letter-spacing: 0.1rem / 1000;

@mixin font($size, $kerning, $line-spacing) {
  font-size: $base-font-size * $size;
  letter-spacing: $base-letter-spacing * $size * $kerning;
  line-height: $base-line-spacing * $line-spacing;
}

@mixin font-merriweather() {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

@mixin font-playfair() {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

// --- various sizes
$nav-small-height: 5.5rem / 0.7;
$hr-thickness: 1px;
$viewport-frame-thickness: 0.35rem;
$title-first-height: 1rem;
$nav-line-stroke-width: 1.5;

// --- aspect ratio
$aspect-ratio-x: 4;
$aspect-ratio-y: 3;
$aspect-ratio: $aspect-ratio-x / $aspect-ratio-y;
