$orange: rgb(248, 164, 120);
$light-gray: rgb(230, 230, 230);
$dark-gray: rgb(128, 128, 128);

$button-size: 3.5rem;
$button-size-small: $button-size * (42/58);

$base-font-size: 0.08rem;
$base-line-spacing: 0.1rem;
$base-letter-spacing: 0.1rem / 1000;

@mixin font($size, $kerning, $line-spacing) {
  font-size: $base-font-size * $size;
  letter-spacing: $base-letter-spacing * $size * $kerning;
  line-height: $base-line-spacing * $line-spacing;
}

@mixin font-merriweather() {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

@mixin font-playfair() {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
