@import 'variables';

.content {
  @include font-merriweather();
  @include font(19, 15, 31);
  color: $dark-gray;

  h1 {
    color: $orange;
    text-transform: capitalize;
    margin-bottom: 2rem;

    &.nonfirst {
      padding-top: 2rem;
    }
  }

  h2 {
    color: $orange;
    margin-top: 3.5rem;
  }

  p, ol {
    margin-bottom: 1.5rem;
  }

  p.lyrics {
    text-align: center;
    white-space: pre-line;
  }

  ol {
    list-style: decimal inside none;
  }

  q {
    font-style: italic;
    quotes: none;
  }

  a {
    color: $dark-gray;
    text-decoration: none;
  }

  figure {
    margin: 1.8rem 0.5rem;

    &.with-sound img {
      cursor: pointer;
    }

    figcaption {
      text-align: center;
      @include font(19, 15, 19);
    }
  }

  &.questions p {
    @include font(36, 6, 47);
    @include font-playfair();
    font-style: italic;
  }

  &.special h1 {
    text-transform: uppercase;
  }
}
