@import 'variables';

.content {
  font-family: "Merriweather Sans", sans-serif;
  @include font(19, 15, 31);

  h1 {
    color: $orange;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
  }

  h2 {
    color: $light-gray;
    text-transform: capitalize;
    text-align: center;
    margin-top: 3.5rem;
  }

  p {
    color: $dark-gray;
    margin-bottom: 2.5rem;

    &.lyrics {
      text-align: center;
      white-space: pre-line;
    }
  }

  q {
    font-style: italic;
    quotes: none;
  }
}

//@media screen and (min-width: 800px) and (max-width: 1200px) {
//    html {
//        font-size: 50%;
//    }
//
//    h1 {
//        color: blue;
//    }
//}
//
//@media screen and (max-width: 800px) {
//    html {
//        font-size: 30%;
//    }
//
//    h1 {
//        color: red;
//    }
//}
