@import 'variables';

.content {
  @include font-merriweather();
  @include font(19, 15, 31);

  h1 {
    color: $orange;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  h2 {
    color: $light-gray;
    text-transform: capitalize;
    text-align: center;
    margin-top: 3.5rem;
  }

  p, ol {
    color: $dark-gray;
    margin-bottom: 1.5rem;
  }

  p.lyrics {
    text-align: center;
    white-space: pre-line;
  }

  ol {
    list-style: decimal inside none;
  }

  q {
    font-style: italic;
    quotes: none;
  }

  &.questions p {
    @include font(36, 6, 47);
    @include font-playfair();
    font-style: italic;
  }
}
