@import 'variables';

html {
  font-size: 1vmin;
}

body {
  height: 100vh; /* this shouldn't be necessary, but it is!? */
  box-shadow: inset $orange 0 0 0 $viewport-frame-thickness;
  overflow: hidden;
}

hr {
  border: none;
  background-color: $light-gray;
  height: $hr-height;
}

.main {
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  position: relative;
  width: 95vw;
  height: 98vh;
}

.nav-line {
  transition-duration: 0.1s;
  transition-timing-function: linear;

  stroke: $light-gray;
  stroke-width: $nav-line-stroke-width;
  z-index: 0;
}

.nav-line-hover {
  stroke: $orange;
  stroke-width: $nav-line-stroke-width * 2;
}

.nav-line-clickable {
  stroke-width: 20;
  stroke: rgb(255, 255, 255);
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
}

.nav-text {
  transition: opacity 1s, fill 0.1s;

  @include font-playfair();
  //@include font(27, 30, 50);
  @include font(27 * $nav-font-size-correction, 40, 50);
  //font-size: 28px;
  //font-weight: 400;
  //letter-spacing: 2px;
  text-transform: uppercase;
  fill: $dark-gray;
  opacity: 100;
  cursor: pointer;

  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    fill: $orange;
  }
}

.nav-small .nav-text {
  opacity: 0;
}

.nav-container {
  transition-duration: 1s;
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.nav-small {
    height: $nav-small-height;
  }
}

.nav {
  transition-duration: 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  max-width: 70%;
  max-height: 70%;
  width: 100%;
  height: 100%;

  overflow: visible;

  &.nav-small {
    transition-duration: 0.4s;
    transition-delay: 0.6s;
    transition-timing-function: ease-in;

    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }

  &.nav-small-finished {
    width: 12rem;
    transition: color 0s; /* do not transition the width change */
  }
}

.nav-small .nav-line {
  transition-duration: 1s;
  stroke-width: 7;
}

.contentpane {
  top: 3.4rem; /* half of .nav-small height - 1px */
  width: 100%;
  height: calc(100% - (3.4rem + 3.5rem));
  position: absolute;

  z-index: -1;
  display: none;

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.contentpane.active {
  display: flex;
}

.contentpane-left {
  width: 40%;
  height: 100%;
  float: left;
  //margin-left: 5%;
}

.contentpane-center {
  width: 20%;
  height: 100%;
}

.contentpane-right {
  width: 40%;
  height: 100%;
  float: right;
  //margin-right: 5%;
}

#left-top, #center-top, #right-top {
  height: 20%;
}

#left-mid, #center-mid, #right-mid {
  height: 60%;
}

#left-bottom, #center-bottom, #right-bottom {
  height: 20%;
}

.topic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  text-transform: uppercase;
  color: $dark-gray;
  text-align: right;
}

.topic h1 {
  margin: 0;
  //font-size: 4.5rem;
  //line-height: 4.3rem;
  //letter-spacing: 0.08rem;
  @include font-playfair();
  @include font(61, 20, 62);
}

.topic-single {
  display: none;
  vertical-align: middle;

  &.active {
    display: inline-block;
  }

  h2 {
    @include font-merriweather();
    @include font(22, 120, 22);
    color: $orange;
    margin-top: 0.6rem;
  }
}

.topic-synthesis {
  display: none;
  vertical-align: middle;

  &.active {
    display: inline-block;
  }

  hr {
    width: 25rem;
    margin-right: 0;
    background-color: $orange;
  }
}

.content-container {
  width: calc(100% - (2 * 4.5rem));
  padding-left: 4.5rem;
  height: calc(100% - (3.4rem + 1.5rem));
  padding-top: 3.4rem;
  padding-bottom: 1.5rem;
  border: none;
  padding-right: 0.5rem;
}

.content-container2 {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.button {
  width: $button-size;
  height: $button-size;
  cursor: pointer;

  &.button-small {
    height: $button-size-small;
    width: $button-size-small;
  }
}

#center-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#buttons-center-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

#info-button {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

#buttons-center-3 {
  height: 3 * $button-size; /* counterbalance 2 buttons and one button whitespace in #buttons-center-1 */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#text-button {
  margin-bottom: $button-size;
}

@media screen and (max-aspect-ratio: #{$aspect-ratio-x} / #{$aspect-ratio-y}) {
  .main {
    max-width: 95vw;
    max-height: 95vw / $aspect-ratio;
    @if $debug {
      border: 1px solid green;
    }
  }
  html {
    font-size: 1vw / $aspect-ratio;
  }
}

@media screen and (min-aspect-ratio: #{$aspect-ratio-x} / #{$aspect-ratio-y}) {
  .main {
    max-width: 95vh * $aspect-ratio;
    max-height: 95vh;
    @if $debug {
      border: 1px solid blue;
    }
  }
  html {
    font-size: 1vh;
  }
}
