body {
    color: rgb(128, 128, 128);
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid rgb(230, 230, 230);
}

.nav-line {
    transition-duration: 0.1s;

    stroke: rgb(230, 230, 230);
    stroke-width: 1.5;
    z-index: 0;
}

.nav-line-hover {
    stroke: rgb(248, 164, 120);
    stroke-width: 3;
}

.nav-line-clickable {
    stroke-width: 20;
    stroke: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}

.nav-text {
    transition-duration: 1s;

    font-family: 'Playfair Display', serif;
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    fill: rgb(128, 128, 128);
    opacity: 100;
    cursor: pointer;
}

.nav-text:hover {
    fill: rgb(248, 164, 120);
}

.main {
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    position: relative;

    width: 95vw;
    height: 95vh;
}

.nav-container {
    transition-duration: 1s;
    transform: scale(1.0);
    width: 100%;
    height: 100%;
    position: relative;

    transform-origin: 50% 0;
}

.nav-container.nav-small {
    transform: scale(0.1);
}

.nav {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: visible;
}

.nav.nav-small {
    cursor: pointer;
}

.nav-small .nav-text {
    transition-duration: 1s;
    opacity: 0;
}

.nav-small .nav-line {
    transition-duration: 1s;
    stroke-width: 7;
}

.contentpane {
    width: 100%;
    height: 99%;
    display: none;
    position: absolute;
    top: 0;
    z-index: -1;
}

.contentpane-left {
    width: 49%;
    height: 100%;
    float: left;
}

.headline-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: 'Playfair Display', serif;
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(52, 77, 103);
    text-align: right;
}

.singleheadline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
}

.doubleheadline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
}

.doubleheadline hr {
    width: 25%;
}

.contentpane-right {
    width: 49%;
    height: 100%;
    float: right;
}

.contentpane-right iframe {
    margin-top: 4%;
    width: 100%;
    height: 96%;
    border: none;
}

.contentpane-left > hr, .contentpane-right > hr {
    position: relative;
    width: 80%;
    top: 3%;
}
