/*@font-face {
    font-family: testfont;
    src: url(sansation_light.woff);
}*/

.nav-line {
    stroke: rgb(125, 125, 125);
    stroke-width: 2;
    z-index: 0;
}

.nav-line:hover {
    /*stroke: rgb(255, 0, 0);*/
    /*stroke-width: 4;*/
}

.nav-line-hover {
    stroke: rgb(255, 0, 0);
    stroke-width: 4;
}

.nav-line-clickable {
    /*visibility: hidden;*/
    stroke-width: 20;
    stroke: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1000;
}

/*.nav-line-clickable:hover {*/
/*visibility: visible;*/
/*opacity: 100;*/
/*stroke: rgb(255, 0, 0);*/
/*stroke-width: 5;*/
/*}*/

.nav-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 200%;
    letter-spacing: 1px;
}

.nav {
    transition-duration: 1s;
    transform: scale(1.0) translate(0, 0);
    transform-origin: 50% 0;

    /* svg into : object, img or inline */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* only required for <img /> */
}

.nav-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 0%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */

    vertical-align: middle; /* top | middle | bottom ... do what you want */
}

.nav-small {
    transition-duration: 1s;
    transform: scale(0.1);
}

.nav-small .nav-text {
    display: none;
}